{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <script type='text/javascript' src='/static/javascript/index.js'></script>
{% endblock %}
{% block content %}
    {{ super() }}
    <!--data-allow-full-screen="true" data-fit="cover" data-nav="nothing"-->
    <div id='fotorama' class='fotorama' data-auto="false">
        <!--<img src="/static/.web-picture-displayer/boda.elena.david/DSC_0494-10:45:33.jpg">
            <img src="/static/.web-picture-displayer/boda.elena.david/6kZ8Hav-10:45:33.jpg">-->
    </div>
    <div>
        {% for m in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
        {% endfor %}
    </div>

    <div class=body>
        My body
    </div>
{% endblock %}
