{% extends "layout.html" %}
{% block content %}
    {{ super() }}
    <div class=body>
        <div id="login-box" style="width: 50%">
            <a style="width: 60%" class="btn btn-block btn-social btn-google" href="{{ url_for('oauth_authorize', provider='google') }}">
                <i class="fa fa-google"></i> Sign in with Google
            </a>
        <div>
    </div>
{% endblock %}
