<!DOCTYPE html>

<html>
    <head>
        {% block head %}
        <script type='text/javascript' src='http://code.jquery.com/jquery-1.11.3.min.js'></script>
        <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js'></script>
        <link href='http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css' rel='stylesheet'>

        <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet'>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css' rel='stylesheet'>

        <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css' rel='stylesheet'>

        <link href='/static/css/bootstrap-social.css' rel='stylesheet'>

        {% endblock %}
    </head>
    <body>
        <title>Web Picture Displayer</title>

        <div class=page>
            <div class=metanav>
                {% if session.user_id %}
                <a href="{{ url_for('logout') }}">log out</a>
                {% endif %}
            </div>
            {% block content %}

            {% endblock %}
        </div>
    </body>
</html>
